<div class="table-responsive">
  <table class="table table-sm table-striped">
    @if (readOptions$ | async; as readOptions) {
      <thead class="header">
        <tr>
          <th
            class="sortable"
            scope="col"
            (click)="updateOptions('startDatum', readOptions)"
            >
            <small>Datum</small>
            @if (readOptions.sortColumn === 'startDatum') {
              <i
                [ngClass]="calculateArrow(readOptions.sorting)"
              ></i>
            }
          </th>
          <th
            class="sortable"
            scope="col"
            (click)="updateOptions('dauer', readOptions)"
            >
            <small>Dauer</small>
            @if (readOptions.sortColumn === 'dauer') {
              <i
                [ngClass]="calculateArrow(readOptions.sorting)"
              ></i>
            }
          </th>
          <th
            class="sortable"
            scope="col"
            (click)="updateOptions('beschreibung', readOptions)"
            >
            <small>Beschreibung</small>
            @if (readOptions.sortColumn === 'beschreibung') {
              <i
                [ngClass]="calculateArrow(readOptions.sorting)"
              ></i>
            }
          </th>
          @if (userName$ | async; as userName) {
            <th scope="col">
              <small>Reservierung</small>
            </th>
          }
          @if (confirmAllowed) {
            <th scope="col"><small>Bestätigen</small></th>
          }
          @if (confirmAllowed) {
            <th scope="col"><small>Aktionen</small></th>
          }
        </tr>
      </thead>
    }
    <tbody>
      @for (task of tasks$ | async; track task) {
        <tr>
          <td>
            <small>{{ task.startDatum | vbcDate }}</small>
            @if (userName$ | async; as userName) {
              <div>
                @if (task.reservation?.id === userName) {
                  <button
                    class="btn btn-sm calendar-button"
                    (click)="downloadCalendar(task)"
                  ></button>
                }
              </div>
            }
          </td>
          <td>
            <small>{{ task.dauer ? task.dauer : 0 }} h</small>
          </td>
          <td>
            <small>{{ task.beschreibung }}</small>
          </td>
          @if (userName$ | async; as userName) {
            <td>
              @if (!task.reservation?.id) {
                <button
                  class="btn btn-secondary btn-sm"
                  (click)="reservieren(task.id)"
                  >
                  <small>Reservieren</small>
                </button>
              } @else {
                <p>{{ task.reservation?.name }}</p>
                @if (task.reservation?.id === userName && !task.bestaetigt) {
                  <button
                    class="btn btn-warning"
                    (click)="entferneReservation(task.id)"
                    >
                    <small>Reservation entfernen</small>
                  </button>
                }
              }
            </td>
          }
          @if (confirmAllowed) {
            <td>
              @if (!task.bestaetigt && task.reservation?.id) {
                <button
                  class="btn btn-warning btn-sm"
                  (click)="bestaetigen(task.id)"
                  >
                  <i class="bi bi-check"></i>
                </button>
              }
              @if (task.bestaetigt) {
                <button
                  class="btn btn-success btn-sm"
                  (click)="entferneBestaetigung(task.id)"
                  >
                  <i class="bi bi-arrow-counterclockwise"></i>
                </button>
              }
            </td>
          }
          @if (confirmAllowed) {
            <td>
              <button
                type="button"
                class="btn btn-primary btn-sm"
                (click)="edit(task)"
                >
                <i class="bi bi-pencil-square"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="delete(task.id)"
                >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
