<nav class="navbar navbar-light bg-light">
  <div class="container justify-content-between">
    <a class="navbar-brand" href="#"> VBC Lyss </a>

    <div class="float-right">Hallo {{ givenName$ | async }}!</div>

    <button class="btn float-right" (click)="logout()">Ausloggen</button>
  </div>
</nav>
<div class="container" *ngIf="userName$ | async as userName">
  <div class="m-3 d-flex" *ngIf="allowedDownload">
    <button class="btn btn-primary ms-auto" (click)="download()">
      Datei Herunterladen <i class="bi bi-filetype-csv"></i>
    </button>
  </div>

  <app-tasks-create
    *ngIf="allowedCreate"
    [taskForEdit]="taskForEdit"
    (taskEdited)="taskEdited()"
  ></app-tasks-create>
  <app-tasks-overview
    (markForEdit)="sendToEdit($event)"
    [userName]="userName"
  ></app-tasks-overview>
</div>
