<nav class="navbar navbar-light bg-light">
  <div class="container justify-content-between">
    <a class="navbar-brand" href="#"> VBC Lyss </a>

    @if (authenticated$ | async) {
      <div class="float-right">
        Hallo {{ givenName$ | async }}!
      </div>
    }

    @if (authenticated$ | async) {
      <button
        class="btn float-right"
        (click)="logout()"
        >
        Ausloggen
      </button>
    }
    @if (!(authenticated$ | async)) {
      <button
        class="btn float-right"
        (click)="login()"
        >
        Einloggen
      </button>
    }
  </div>
</nav>
<div class="container">
  @if (allowedDownload) {
    <div class="m-3 d-flex">
      <button class="btn btn-primary ms-auto" (click)="download()">
        Datei Herunterladen <i class="bi bi-filetype-csv"></i>
      </button>
    </div>
  }
  <app-toast></app-toast>
  @if (isLoading$ | async) {
    <div class="spinner-wrapper">
      <div class="spinner-border" role="status"></div>
    </div>
  }

  @if (allowedCreate) {
    <app-tasks-create
      [taskForEdit]="taskForEdit"
      (taskEdited)="taskEdited()"
    ></app-tasks-create>
  }

  <app-events-overview (markForEdit)="sendToEdit($event)">
  </app-events-overview>
</div>
