@if (canIncludeOldEvents) {
  <div class="container p2 d-flex justify-content-end">
    <button class="btn btn-outline-secondary" (click)="toggleIncludeOldEvents()">
      @if (includeOldEvents) {
        Aktuelle Events anzeigen
      } @else {
        Alte Events einblenden
      }
    </button>
  </div>
}

@for (eventName of eventNames$ | async; track eventName) {
  <div class="container p2">
    <h3>{{ eventName }}</h3>
    <app-tasks-overview
      [eventName]="eventName"
      (markForEdit)="edit($event)"
    ></app-tasks-overview>
  </div>
}
